<template>
  <section class="section-testimonials">
    <div class="row">
      <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <blockquote>
          Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a
          life-saver. Now that I got used to it, I couldn't live without my daily meals!
          <cite><img src="resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncan</cite>
        </blockquote>
      </div>
      <div class="col span-1-of-3">
        <blockquote>
          Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here
          in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
          <cite><img src="resources/img/customer-2.jpg" alt="Customer 2 photo">Joana Silva</cite>
        </blockquote>
      </div>
      <div class="col span-1-of-3">
        <blockquote>
          I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up
          with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
          <cite><img src="resources/img/customer-3.jpg" alt="Customer 3 photo">Milton Chapman</cite>
        </blockquote>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Testimonials"
}
</script>

<style scoped>

</style>