<template>
  <div id="app">
    <Header></Header>
    <Features></Features>
    <Meals></Meals>
    <Work></Work>
    <Cities></Cities>
    <Testimonials></Testimonials>
    <Plans></Plans>
    <Form></Form>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Features from "@/components/Features";
import Meals from "@/components/Meals";
import Work from "@/components/Work";
import Cities from "@/components/Cities";
import Testimonials from "@/components/Testimonials";
import Plans from "@/components/Plans";
import Form from "@/components/Form";
import Footer from "@/components/Footer";

export default {
  name: 'App',
  components: {
    Footer,
    Form,
    Plans,
    Testimonials,
    Cities,
    Work,
    Meals,
    Features,
    Header,
  }
}
</script>

<style>
#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
}
</style>
